table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 0.9rem;
}

th, td {
  padding: 8px 10px;
  border-bottom: 1px solid #1f2937;
  text-align: left;
}

thead {
  background: #020617;
}

tbody tr {
  transition: background 0.15s ease-out, transform 0.15s ease-out;
}

tbody tr:nth-child(even) {
  background: #111827;
}

/* hover effect */
tbody tr:hover {
  background: #02081f;
  transform: translateY(-1px);
}
